<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="article" screen_capture_injected="true" onload="prettyPrint();">

    <div class="container">
      <div class="header clearfix">
        {% include nav.html %}
        <h3 class="muted-text">Jason Paige</h3>
      </div>

      <div class="page-header">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>
      </div>

      <article>
        {{ content }}
      </article>

      <div class="footer"></div>

    </div>

</body>
</html>
